<!-- CARD -->
<ng-container *ngIf="type === 'card'">
  <div class="card" *ngFor="let _ of items">
    <div class="skeleton avatar"></div>
    <div class="content">
      <div class="skeleton text title"></div>
      <div class="skeleton text"></div>
    </div>
  </div>
</ng-container>

<!-- AVATAR -->
<ng-container *ngIf="type === 'avatar'">
  <div class="avatar-wrapper" *ngFor="let _ of items">
    <div class="skeleton avatar large"></div>
  </div>
</ng-container>

<!-- TEXT -->
<ng-container *ngIf="type === 'text'">
  <div class="text-block" *ngFor="let _ of items">
    <div class="skeleton text title"></div>
    <div class="skeleton text"></div>
    <div class="skeleton text small"></div>
  </div>
</ng-container>

<app-skeleton *ngIf="loading()" type="card" [count]="6"></app-skeleton>
<app-skeleton *ngIf="loading()" type="avatar" [count]="1"></app-skeleton>
<app-skeleton *ngIf="loading()" type="text" [count]="3"></app-skeleton>
