body {
  margin: 0;
  background: #121212;
  color: #fff;
  font-family: Roboto, sans-serif;
}

.container {
  height: 100vh;
}

.content {
  padding: 20px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

button {
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

mat-sidenav {
  background: #1e1e1e;
  color: white;
}

.logo {
  padding: 16px;
}
